@model IEnumerable<JavaFlorist.Models.BOUQUET>
@{
    ViewBag.Title = "Shop";
}

<div class="shop-sect">

    <div class="shop-upper-sect">
        <p>Shop</p>
    </div>

    <div class="shop-main-sect">

        <p class="shop-heading">look around</p>
        <hr />
        <div class="products">
            @foreach (var item in Model)
            {
                <div class="prod-card">
                    <div class="img-sect">
                        <img src="@item.IMG" alt="@item.NAME" />
                        @Html.ActionLink("View", "Product", "Home", new {id=item.BOUQUETID}, null)
                    </div>
                    <p class="prod-name">@item.NAME</p>
                    <p class="prod-price">Rs. @item.PRICE</p>
                </div>
            }
        </div>

    </div>

</div>
